11.1

In [5]:
import zoo

zoo.hours()

 Open 9-5 daily

11.2

In [6]:
import zoo as menagerie

menagerie.hours()

 Open 9-5 daily

16.8

In [7]:
import sqlite3
import csv

booksDict = {}

booksQuery = "INSERT INTO books VALUES "

with open('books.csv', newline='') as csvfile:

    booksDict = csv.DictReader(csvfile)
    
    for book in booksDict:
       booksQuery += "('" + book["title"] + "', '" + book["author"] + "', " + book["year"] + "),"
        
booksQuery = booksQuery[:-1]
        
con = sqlite3.connect("books.db")
cur = con.cursor()

cur.execute("DROP TABLE books")

cur.execute("CREATE TABLE books(title, author, year)")

cur.execute(booksQuery)
con.commit()

res = cur.execute("SELECT * FROM books")
res.fetchall()

In [ ]:
con.close()

In [ ]:
import sqlalchemy

engine = sqlalchemy.create_engine("sqlite:///books.db")

with engine.connect() as conn:
    result = conn.execute(sqlalchemy.text("SELECT title FROM books ORDER BY title asc"))
    for row in result:
        print(row.title)